<h2>Comics</h2>
<div class="table-responsive" data-pattern="priority-columns" data-add-focus-btn="" rwdtablepatterns>
	<table tr-ng-grid="" items="comics.comicsList" page-items="5" selected-items="comics.mySelectedItems" selection-mode="MultiRow"
	 page-items="comics.myPageItemsCount" total-items="comics.myItemsTotalCount" 
	 class="table table-striped table-bordered table-hover"
	 on-data-required="comics.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
		<thead>
			<tr>
				<th field-name="id" display-name="{{'Comic' | i18next}}"
					enable-filtering="false" enable-sorting="false"
					display-align="center" data-priority=""></th>
				<th field-name="title" display-name="{{'Title' | i18next}}" data-priority=""></th>
				<th field-name="series.name" display-name="{{'Series' | i18next}}" data-priority="6"></th>
				<th field-name="description"
					display-name="{{'Description' | i18next}}" data-priority="6"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td field-name="id"><a href='#/comics/{{gridItem.id}}'><img width='100px' src='{{gridItem.thumbnail.path}}.{{gridItem.thumbnail.extension}}'/></a></td>
			</tr>
		</tbody>
	</table>
</div>