<h2>Comic Listing</h2>
<table st-table="comicsList" class="table table-striped">
	<thead>
		<tr>
			<th colspan="2">{{'Comic' | i18next}}</th>
			<th st-sort="title">{{'Title' | i18next}}</th>
			<th st-sort="series.name">{{'Series' | i18next}}</th>
			<th>{{'Description' | i18next}}</th>
		</tr>
		<tr>
		<th colspan="2"></th>
		<th>
			<input st-search="'title'" placeholder="search title" class="input-sm form-control" type="search"/>
		</th>
		<th colspan="2">
			<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
		</th>
	</tr>
		
	</thead>
	<tbody>
		<tr st-select-row="row" st-select-mode="multiple" ng-repeat="comic in comicsList">
			<td>{{$index + 1}}</td>
			<td><a href='#/comics/{{comic.id}}'><img width="100px"
					src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" /></a></td>
			<td><a href='#/comics/{{comic.id}}'>{{comic.title}}</a></td>
			<td>{{comic.series.name}}</td>
			<td>{{comic.description}}</td>
		</tr>
	</tbody>
</table>