<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="index.html">{{appname}}</a> 
</div>
<div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;"> <a href="{{messageurl}}" ng-bind-html="messagetxt"></a> &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">{{'Logout'|i18next}}</a> </div>
