<h2>Stories</h2>
<div class="table-responsive">
	<table tr-ng-grid="" items="storiesList" page-items="5" selected-items="mySelectedItems" selection-mode="MultiRow"
	 page-items="myPageItemsCount" total-items="myItemsTotalCount" 
	 on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
		<thead>
			<tr>
				<th field-name="id" display-name="{{'Comic' | i18next}}"
					enable-filtering="false" enable-sorting="false"
					display-align="center"></th>
				<th field-name="title" display-name="{{'Title' | i18next}}"></th>
				<th field-name="type" display-name="{{'Type' | i18next}}"></th>
				<th field-name="description" display-name="{{'Description' | i18next}}"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td field-name="id"><a href='#/stories/{{gridItem.id}}'>{{gridItem.id}}</a></td>
			</tr>
		</tbody>
	</table>
</div>