<h2>Events</h2>
<div class="table-responsive">
	<table tr-ng-grid="" items="events.eventsList" page-items="5" selected-items="events.mySelectedItems" selection-mode="MultiRow"
	 page-items="events.myPageItemsCount" total-items="events.myItemsTotalCount" 
	 on-data-required="events.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
		<thead>
			<tr>
				<th field-name="id" display-name="{{'Image' | i18next}}"
					enable-filtering="false" enable-sorting="false"
					display-align="center"></th>
				<th field-name="title" display-name="{{'Title' | i18next}}"></th>
				<th field-name="description" display-name="{{'Description' | i18next}}"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td field-name="id"><a href='#/comics/{{gridItem.id}}'><img width='100px' src='{{gridItem.thumbnail.path}}.{{gridItem.thumbnail.extension}}'/></a></td>
			</tr>
		</tbody>
	</table>
</div>
